<footer>
    <p class="footer-object">Made by <%=author;%></p>
    <a class="footer-object" href="https://github.com/MeepMr/Local-Tube" >Take a look at the Source-Code over on GitHub</a>
</footer>
<script src="/javascript/registerScript.js" id="<%=moduleRegularExpression;%>"></script>
<script src="/javascript/rsa-key-conversion.js"></script>
