<header>
    <div id="header-div">
        <h1 id="title"><a href="/">Local-Tube</a></h1>
        <p>Welcome to Local-Tube</p>
    </div>
    <div id="register-form">
        <div class="register-form-element register-text">
            <label>
                <input type="text" id="register-text" placeholder="Register Video: service-VideoId">
            </label>
        </div>
        <div class="submit-button register-form-element" id="register-button">
            <p class="center">Register Video</p>
        </div>
    </div>
</header>