<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Login <%=server.title;%></title>
        <%- include('html-head.ejs')%>
        <link rel='stylesheet' href='/stylesheets/login-style.css'/>
    </head>
    <body>
    <%- include('header.ejs') %>
    <main>
        <form method="get" action="/login">
            <label for="account-name">
            <input type="text" id="account-name" name="accountName"
                   autofocus
                   autocomplete="username"
                   placeholder="Username">
            </label>
            <label for="account-token">
            <input type="password" id="account-token" name="token"
                   autocomplete="current-password"
                   placeholder="Login-Token">
            </label>
            <button type="submit" class="submit-button">Login</button>
        </form>
    </main>
    <%- include('footer.ejs') %>
    </body>
</html>
