<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Registering <%=videoId;%></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <p>Your Video is being downloaded now. Once downloaded, you can watch it under the following link:</p>
        <a href="/watch/<%=videoId;%>"><%=link;%></a>
    </body>
</html>
