<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Video-Url</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <p><%= link %></p>
    </body>
</html>
