<!DOCTYPE html>
<html lang="de">
    <head>
        <title>NodeTube - <%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Node-Tube Viewer</h1>
        <video src="/videos/<%= videoId %>.mp4"></video>
    </body>
</html>
