<!DOCTYPE html>
<html lang="de">
    <head>
        <title>NodeTube - <%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Node-Tube Viewer</h1>
        <video width="80%" height="60%" controls>
            <source src="/videos/<%= videoId %>.mp4" type="video/mp4">
        </video>
    </body>
</html>
