@keyframes flashGreen {
    0% {
        background:#312f2f;
    }
    50% {
        background:green;
    }
    100% {
        background:#312f2f;
    }
}

@keyframes flashRed {
    0% {
        background:#312f2f;
    }
    50% {
        background:red;
    }
    100% {
        background:#312f2f;
    }
}