.videoContainer {

    background-color: var(--itemBackground);
    border-radius: 15px;
    flex: 1 1 450px;
}

.videoContainer:before {

    content: "";
    float: left;
    padding-top: 60%;
}

#index {

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.videoLink {

    display: flex;
    height: calc(100% - 60px);
    width: 100%;
    background-repeat: no-repeat;
    background-color: var(--itemBackground);
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 15px;
}
.video-info {

    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.video-info-text {

    display: flex;
    height: 100%;
    width: 140px;
}

.video-management {

    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-self: center;
    flex: 1 1 200px;
}

.video-management-container {

    border-radius: 20px;
    border-collapse: separate;
    height: 100%;
    width: 140px;
    margin-right: 5px;
    margin-left: 5px;
}

@media screen and (max-width: 635px){

    .videoContainer {
        width: 100%;

    }

    .video-info-text {display: none;}
    .video-management-container {width: 49%;}
}
