:root {

  --textColor: rgba(243, 240, 240, 0.91);
  --itemBackground: rgba(158, 158, 158, 0.75);
  --neonRed: rgb(255, 0, 30);
}

body {
  padding: 5px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #070707;
  color: var(--textColor);
}

a {

  color: var(--textColor);
  text-decoration: none;
}

h1 #title {

  margin-top: 0;
}

.center {

  align-self: center;
  vertical-align: center;
  text-align: center;
  width: 100%;
}

.error {

  color: var(--neonRed);
}

.bottomCenter {

  align-self: center;
  vertical-align: bottom;
  text-align: center;
  width: 100%;
}

.download-button {

  background-color: rgba(48, 125, 220, 0.33);
}

.delete-button {

  background-color: rgba(220, 48, 48, 0.33);
}

footer {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;

  background-color: rgba(7,7,7,0.59);
}

.footer-object {

  height: 20px;
  margin: 5px 10px;
}
