#watch {

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.videoContainer {

    display: flex;
    width: 100%;
    height: min-content;
}

.video-management {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.video-management-container {

    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: 50%;
}

.video-object {

    height: 100%;
    width: 100%;
    border-radius: 20px;
}

main {

    width: 70%;
    flex-shrink: 0;
}

aside {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 10px;
    flex: 0 0 25%;
    row-gap: 10px;

}

.video-list-container {

    width: 100%;
    height: 150px;
    flex-shrink: 0;
}

.videoLink {

    display: flex;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: var(--itemBackground);
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 15px;
    flex-shrink: 0;
}

#content-div {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
